// SMACSS architecture

@import './theme.scss';

// Base rules 
body,html{
    width           : 100%;
    height          : 100%;
    margin          : 0px;
    padding         : 0px;
    overflow        : hidden; // no-scroll
    justify-content : center;
    background-color: $primarySnow;
    font-family     : $deepomaticFontFamily;
    text-align      : left;    
    letter-spacing  : 0px;
    white-space     : normal;
    word-wrap       : break-word;  
    color           : $neutralBlack;
}


// ----- Default fonts ---------
.text-regular-default{
    font-size       : 14px;
    font-weight     : 400;
    line-height     : 149%;
}

.cap-heading-default{
    font-size       : 12px;
    font-weight     : 400;
    line-height     : 100%;
}

.button-label{
    font-size: 14px;
    font-weight: 500;
    line-height: 149%;
}

.form-label{
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    color: $transparentBlack;
}


// Layout

    .border-box{
        box-sizing: border-box;
    }

    .center {
        margin: auto;
        padding: 10px;
    }


    .border-color-10 {
        border-color: rgba(0,0,0,.1);
    }

    .overflow-hidden{
        overflow: hidden;
    }
// ---- flexbox layouts ----

    .flex-column{
        display                 : flex;
        flex-direction          : column;
        -webkit-box-direction   : normal;
        -webkit-box-orient      : vertical;
        justify-content         : center;
        align-items             : center;
    }

    .flex-row{
        display                 : flex;
        flex-direction          : row;
        -webkit-box-direction   : normal;
        -webkit-box-orient      : vertical;
        align-items             : center;
    }

// ---- Buttons  layout ----

    .small-circle-icon{
        width   : $iconSize;
        height  : $iconSize;
    }

    .circle-button{
        background-color: $primaryBlue ;
        height          : $iconSize ;
        width           : $iconSize ;
        border-radius   : $iconSize ;
        justify-content: center;
    }

    
    button{
        position        : relative;
        border-radius   : 3px;
        height          : 39px;
        width           : 76px;
        background-color: $primaryBlue ;
        color           : $primarySnow;
    }
// Module

// ---- General layout ----
    #main-component{
        height: 80%;
        width: $formSize;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;            /* Footer height */
    }

// ---- Form : new task ----

    .input-form{
        height          : 60px;
        width           : $formSize;
        border-bottom   : 1px solid $neutralSilver;
        background-color: $neutralSand;
    }

    // text input from user
    .form-input{
        height: 60px;
        width: $formSize - $iconSize - 2*$formPadding;
        padding-left: $formPadding;
        align-items: center;
        user-select: none;
        cursor: default;
        background-color: $neutralSand;
        border: none
    }


// ---- Filter tasks by status  ----

    .filter-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 20px;
        justify-content: right;
    }

    //--------- Task Item ----------

    .task{
        position        : relative;
        border-radius   : 3px;
        height          : 39px;
        width           : $formSize;
        background-color: $neutralSand  ;
        color           : $neutralBlack;
        margin-bottom: 1em;
    }

        .task-check-box{
            position: absolute;
            left: 0.5*$formPadding;
        }

        
        .task-descr{
            position: absolute;
            left: 2 * $formPadding;
        }
        .task-delete{
            position: absolute;
            right: $formPadding;
        }
// State