// Primary colors
$primaryBlue        : rgb(38, 173, 228);
$primarySnow        : rgb(255, 255, 255);
// Secondary colors
$secondaryNebulous  : rgb(49, 50, 52);
$secondaryShark     : rgb(29, 30, 32);
// Neutrals colors
$neutralSand        : rgb(244, 244, 244);
$neutralSilver      : rgb(122, 122, 122);
$neutralBoulder     : rgb(122, 122, 122);
$neutralStone       : rgb(102, 102, 102);
$neutralTundora     : rgb(68, 68, 68);

// Fonts
$deepomaticFontFamily : 'Roboto';
$textRegular: '16px';